listview {
    enabled: true;
    columns: 4;
    lines: 4;
    cycle: true;
    dynamic: true;
    scrollbar: false;
    flow: horizontal;
    layout: vertical;
    fixed-height: true;
    fixed-columns: true;
    spacing: 0px;
    margin: 0px;
    padding: 0px;
    background-color: @background;
    text-color: @foreground;
}
