$subtext: #7f849c;
$base: #1e1e2e;
$desc: #fac6a7;
$submap: #cba6f7;
$key: #89b4fa;
$accent: #fb6962;

.container {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 1.2em;
	color: rgba($subtext, 1);
	background-color: rgba($base, 0.7);
	border: 2px solid rgba($submap, 0.8);
	border-radius: 5px;
	margin: 0px 1px 1px 1px;
	padding: 1px;
}

.keybind {
	margin: 2px;
}

.key {
	color: $key;
}

.desc-glyph {
  color: $accent;
  font-weight: bold;
  margin-right: 4px;
}

.desc {
	color: $desc;
}

.submap {
	color: $submap;
}
